<!DOCTYPE html>
<html>
   <head>
      <title>Bootstrap Example</title>
      <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   </head>
   <body>
      <p>The following are FMCG companies:</p>
     <div class="container">
         <div class="row">
             <div class="col-lg-4">
                <div class = "btn-default">      
                    <button type = "button"  class="btn btn-lg"> <a href='createuser/'>Add User</a> </button>
                    <button type = "button"  class="btn btn-lg">Add Project</button>
                    <button type = "button"  class="btn btn-lg">Add client</button>
                 </div>
             </div>
             <div class="col-lg-4">
                <div class = "btn-default">      
                    <button type = "button"  class="btn btn-lg"> User list</button>
                    <button type = "button"  class="btn btn-lg">Client list</button>
                    <button type = "button"  class="btn btn-lg">Project list</button>
                 </div>
             </div>
             <div class="col-lg-4">
                <div class = "btn-default">      
                    <button type = "button"  class="btn btn-lg"> Project detail</button>
                    <button type = "button"  class="btn btn-lg">Client list</button>
                    <button type = "button"  class="btn btn-lg">Project list</button>
                 </div>
             </div>
         </div>
        
         
     </div> 
      
   </body>
</html> 