{% extends 'index.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="vendors/aos/css/aos.css">
  <link rel="stylesheet" href="{% static 'style5.css' %}">
 {% endblock  %}



{% block content %}


{% if user.is_authenticated %}
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
    {% load static %}
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
          <img src="{% static '2.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
          <h3 class="m-0">Welcome <span>{{ user.first_name}}!</span></h3>
          <div class="col-lg-9 col-xl-8 p-0">
              
          </div>          
        </div>
      </div>
           
    
{% else %}
      <h4 class="pt-1" data-aos="fade-down">login unsuccessfull</span></h4>
{%endif%}
      

{% endblock content %}
